repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      # Linter: Memperbaiki import, menghapus variabel tak terpakai, dll
      - id: ruff
        args: [ --fix ]
      # Formatter: Merapikan spasi dan format kode (pengganti Black)
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
